<div class="container">
 <h1> Login </h1>
 <form action="/sessions" method="POST">
   Username: <input type="text" name="user[username]" placeholder="Username"><br>
   Password: <input type="password" name="user[password]" placeholder="password"><br>
   <input type="submit" value="Login">
 </form>
</div>


