<!-- <div class='container'>
  <form action="/users/<%=user.id%>" method="POST">
    <input type="hidden" name="_method" value="put">
      Username: <input type="text" name="old_password" />
      Current Password: <input type="password" name="user[password]" />
      New Password: <input type="password" name="user[password]" />
      Confirm New Password: <input type="password" name="changed_password" />
      <input type="submit" value="Save Update" />
  </form>

  <form action="/users/<%=@user.id%>" method="POST" >
    <input type="hidden" name="_method" value="delete" >
    <input type="submit" value="Delete Account">
  </form>

</div> -->